{% extends 'GorkemContact/base.html' %}
{% block content %}


    <div class="page" id="p1">
            <li class="icon fa fa-home"><span class="title"><h4>Blog</h4></span>
                <a href="{% url 'yeni_gonderi' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% for gonderi in Gonderis %}
                <div>
                    <h1>
                            <a href="{% url 'gonderi_detay' pk=gonderi.pk %}">{{ gonderi.baslik }}</a>
                    </h1>
                    <p>{{ gonderi.yazi }}</p>
                    <p>{{ gonderi.yayim_zaman }}</p>
                </div>
                {% endfor %}

                <div class="primary-button">
                        <a href="{% url 'yeni_gonderi' %}">Yeni Gönderi Ekle</a>
                </div>
</li>   
         </div>
{% endblock %}