{% extends 'GorkemContact/base.html' %}
{% block content %}

    <!-- top bar -->
    <div class="top-bar">
        <h1>Blog</h1>
        <p><a href="#">Home</a> / Blog</p>
    </div>
    <!-- end top bar -->
    <div class="container main-container"></div>

        
        <div>
            {% if gonderi.yayim_zaman %}
                <p>{{ gonderi.yayim_zaman }}</p>
            {% endif %}

            <h2>
                <a href="">{{ gonderi.baslik }}</a>
            </h2>
            <p>{{ gonderi.yazi }}</p>
        </div>
     
        
  
  
{% endblock %}