{% extends 'GorkemContact/base.html' %}
{% block content %}


<div class="page" id="p1">
        <li class="icon fa fa-home"><span class="title">Blog Gönderi Detay</span>
 
        <div>
            <h2>
                <a href="">{{ gonderi.baslik }}</a>
            </h2>
            <p>{{ gonderi.yazi }}</p>

             {% if gonderi.yayim_zaman %}
                <p>{{ gonderi.yayim_zaman }}</p>
            {% endif %}           
        </div>

        <div class="primary-button">
                <a href="{% url 'gonderi_liste' %}">Blog'a Dön</a>
        </div></li>  
</div>
        
  
  
{% endblock %}
 
