{% extends 'GorkemContact/base.html' %}
{% block content %}

<div class="page" id="p1">
        <li class="icon fa fa-home"><span class="title">Blog Gönderi Düzenle</span>
 

    <div class="container main-container"></div>
    
        <h1>Yeni Gönderi</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Kaydet</button>
        </form>
        
        <div class="primary-button">
                <a href="{% url 'gonderi_liste' %}">Blog'a Dön</a>
        </div></li>  
</div>

{% endblock %}
 
