{% extends 'GorkemContact/base.html' %}
{% block content %}

    <!-- top bar -->
    <div class="top-bar">
        <h1>Blog</h1>
        <p><a href="#">Anasayfa</a> / Blog</p>
    </div>
    <!-- end top bar -->
    <div class="container main-container"></div>
    <a href="{% url 'yeni_gonderi' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% for gonderi in Gonderis %}
        <div>
            <p>{{ gonderi.yayim_zaman }}</p>
            <h2>
                    <a href="{% url 'gonderi_detay' pk=gonderi.pk %}">{{ gonderi.baslik }}</a>
            </h2>
            <p>{{ gonderi.yazi }}</p>
        </div>
        {% endfor %}
        
    </div>

{% endblock %}