{% extends 'GorkemContact/base.html' %}
{% block content %}

<div class="page" id="p1">
        <li class="icon fa fa-phone"><span class="title"><h4>İletişim</h4></span>
         <div class="container">
           <div class="row">
             <div class="col-md-6">
                <form id="contact" action="" method="post">
                   <div class="col-md-12">
                     <fieldset>
                       <input name="name" type="text" class="form-control" id="name" placeholder="Vektörel" required>
                     </fieldset>
                   </div>
                   <div class="col-md-12">
                     <fieldset>
                       <input name="email" type="email" class="form-control" id="email" placeholder="Bilişim" required>
                     </fieldset>
                   </div>
                   <div class="col-md-12">
                     <fieldset>
                       <textarea name="message" rows="6" class="form-control" id="message" placeholder="'i' ve 'ö' gibi bazı harfler, bazı başlıklarda çıkmıyor. Özür dileriz." required></textarea>
                     </fieldset>
                   </div>
                   <div class="col-md-12">
                     <fieldset>
                       <button type="submit" id="form-submit" class="btn">Yolla</button>
                     </fieldset>
                   </div>
                 </form>
              </div>
              <div class="col-md-6">
                <div class="right-info">
                   <p>Bu cümle, python programlama Webprojesinin "İletişim" sayfasındaki ilk cümle.<br><br>
                   <em>Bu cümle ise<br>
                     iki satır sürüyor. <br>
                     Bu da son cümle.<br></em></p>
                   <ol class="social-icons">
                     <i><a href="#"><i class="fa fa-facebook"></i></a></i>
                     <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                     <i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                     <i><a href="#"><i class="fa fa-rss"></i></a></i>
                     <i><a href="#"><i class="fa fa-behance"></i></a></i>
                   </ol>
                 </div>
              </div>
           </div>
         </div>
        </li>
</div>  
       
    {% endblock %}